@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
  --primary: #9fbfff;
  --secondary: #f693a1;
  --text-color: #030303;
  --heading-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
